
body {
    // background-image: url(../assets/penfield.jpg);
    // background-size: fill;
    // background-position: 0px 0px;
    background-image: url(../assets/bladerunnerBackground.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body h1 {
    margin-left: 30px;
    color: $accentColor1;
}

main {
    background-image: url(../assets/graphite.jpg);
    background-repeat: repeat;
}

.monitorAndMixer {
    display: flex;
    padding-bottom: 3%;
    background-image: url(../assets/graphite.jpg);
    background-repeat: repeat;
}

.checkboxContainer {
    background-image: url(.././assets/mixerBack.jpg);
    height: 460px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin: 20px;
    font-size: 20px;
    color: $accentColor1;
}

.checkbox > input {
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(../assets/dials.jpg);
    background-size: cover;
    transition: all 1s;
}

.checkbox > input:checked {
    transform: rotate(120deg);
}