
body {
    background-image: url(../assets/bladerunnerBackground.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body h1 {
    margin-left: 30px;
    color: $accentColor1;
}

main {
    background-image: url(../assets/graphite.jpg);
    background-repeat: repeat;
}

.monitorAndMixer {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    background-image: url(../assets/graphite.jpg);
    background-repeat: repeat;
}

.checkboxContainer {
    background-image: url(.././assets/mixerBack.jpg);
    height: 460px;
    width: 301px;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-top: -35px;
    margin-left: 15px;
    padding-bottom: 0;
}

.checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin: 11px;
    font-size: 20px;
    color: $accentColor1;
}

.checkbox > input {
    appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url(../assets/dials.jpg);
    background-size: cover;
    transition: all 1s;
}

.checkbox > input:checked {
    transform: rotate(120deg);

}

.monitorAndMixer {
    margin-bottom: -44px;
  }
  

  .wrapper {
    width: 75%;
  }
  
  .gifContainer {
    margin-top: -5px;
  }
  
  .wrapper {
    max-width: 1600px;
    width: 700px;
    margin: 0 auto;
}
