//Credit to the https://codepen.io/clkent/pen/dQwGqj
//Piano key project by Chelsea Kent, for our use of the keyboard template
.gifContainer {
    margin: 0;
    margin-right: 15px;
    margin-left: 30px;
    padding: 0;
    margin-top: -5px;
    outline: 30px solid $secondaryColor;
    background: black;
}

.baseMoods {
  display: flex;
  justify-content: space-evenly;
}

.extraFunContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-left: 5px;
}

.extraSadContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-left: 5px;
}

.keyboardContainer {
  height: 325px;
  background-image: url(../assets/graphite.jpg);
  background-repeat: repeat;
  margin-top: 21px;
}
  
  .accidentalsContainer {
    width: 526px;
    display: grid;
    grid-template-columns: repeat(42, 1fr);
      height: 60%;
    justify-items: center;
    padding-bottom: 2%;   
    margin: 0 auto;
  }
  
  .accidentalsContainer button {
    width: 45px;
      background: $primaryColor;
      border: 1px solid $accentColor2;
      border-radius: 0 0 4px 4px;
      cursor: pointer;
      top: -299px;
      position: relative;
      z-index: 1;
      border-top: none;
  }
  
  
  .accidentalsContainer button.C {
    grid-column: 6 / span 2;
  }
  
  .accidentalsContainer button.D {
    grid-column: 12 / span 3;
  }
  
  .accidentalsContainer button.F {
    grid-column: 25 / span 2;
  }
  
  .accidentalsContainer button.G {
    grid-column: 31 / span 2;
  }
  
  .accidentalsContainer button.A {
    grid-column: 37 / span 1;
  }

  .naturalsContainer {
    width: 526px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 300px;
    margin: 0 auto;
    margin-top: 33px;
    outline: 10px solid $bonusAccentColor;
  }
  
  .naturalsContainer button {
    background: $accentColor2;
    border: 1px solid $primaryColor;
    border-radius: 0 0 6px 6px;
  }
  
  button {
        cursor: pointer;
  }
  
  button:active, button:focus {
      border: 0;
      outline: rgba(225, 225, 225, 0);
    }
  
  .naturalsContainer p {
    font-size: 1.75em;
        top: 100px;
      position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
    color: #1b1b1e;
  }

  .resetButton {
      align-self: end;
      margin: 25px;
      background-color: $bonusAccentColor;
      border: 2px solid $accentColor1;
  }

  .resetButton:active,
  .resetButton:focus {
      background-color: $bonusAccentColor;
      border: 1px solid $accentColor1;
  }