@media (max-width: 1300px) {
    body h1 {
      font-size: 4rem;
    }

    .checkboxContainer {
    margin-left: 10px;
    margin-top: -25px;
    height: 440px;
  }
  
    .gifContainer {
        outline: 20px solid $secondaryColor;
        margin-right: 10px;
    }

    .checkbox {
      margin: 15px;
    }
}

@media (max-width: 1000px) {

  main {
    margin-top: -25px;
  }
  
  .checkbox {
      margin: 15px;
  }

  .checkboxContainer {
      margin-left: 5px;
      height: 420px;
      border-radius: 0;
  }

  .gifContainer {
    outline: 10px solid $secondaryColor;
    margin-top: -15px;
    margin-right: 5px;
  }
}

@media (max-width:700px) {

    .wrapper {
        width: 390px;
    }

    .monitorAndMixer {
        flex-direction: column;
    }

    body h1 {
        margin-left: 20px;
        margin-bottom: 3px;
        margin-top: 10px;
        font-size: 3rem;
    }

    .gifContainer {
        margin: 0 auto;
    }

    .checkboxContainer {
        margin: 0 auto;
        width: 390px;
        height: 310px;
        margin-top: 10px;
    }

    .checkbox {
        margin: 10px;
    }


    .naturalsContainer {
        width: 380px;
        height: 200px;
        margin-top: 6px;
        outline: 5px solid #A3320B;
    }

    .keyboardContainer {
        height: 230px;
    }

    .accidentalsContainer {
        width: 510px;
        height: 60%;
        margin-top: 100px;
    }

    .accidentalsContainer {
      width: 405px;
    }  

    .accidentalsContainer button.G {
        grid-column: 32 / span 2;
    }  
}


@media (max-width: 480px) {

    .wrapper {
        width: 400px;
    }

    .checkboxContainer {
        width: 400px;
        height: 262px;
    }

    .checkbox > input {
        height: 30px;
        width: 30px;
    }

    .naturalsContainer {
        width: 390px;
    }

    .accidentalsContainer {
        width: 415px;
    }
}

@media (max-width: 420px) {

    .wrapper {
        width: 340px;
    }

    body h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }
    .checkbox {
        margin: 5px;
        font-size: 18px;
    }

    .checkboxContainer {
        width: 320px;
        justify-content: flex-start;
    }

    .baseMoods {
        padding-top: 5px;
    }

    .naturalsContainer {
      width: 320px;
    }
    .accidentalsContainer {
      width: 348px;
    }
    
    .accidentalsContainer button.G {
        grid-column: 32 / span 2;
    }
 
    .accidentalsContainer button.D {
    grid-column: 14 / span 3;
  }
  
    .accidentalsContainer button.C {
    grid-column: 7 / span 2;
  }
  
}

@media (max-width: 349px) {
    .wrapper {
        width: 320px;
    }

    .gifContainer {
        outline: 10px solid #07004D;
        outline: 3px solid #07004D;
        }

        .naturalsContainer {
            width: 300px;
        }

        .accidentalsContainer {
            width: 327px;
        }

        .accidentalsContainer button {
            width: 35px;
        }
}