html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 4rem;
}

main h1 {
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.gifContainer {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  margin-top: -5px;
  outline: 15px solid #EC9A29;
  background: black;
}

.baseMoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.extraFunContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  padding-left: 5px;
}

.extraSadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  padding-left: 5px;
}

.keyboardContainer {
  height: 242px;
  background-image: url(../assets/graphite.jpg);
  background-repeat: repeat;
  margin-top: 21px;
  padding-top: 15px;
}

.accidentalsContainer {
  width: 446px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[42];
      grid-template-columns: repeat(42, 1fr);
  height: 50%;
  justify-items: center;
  padding-bottom: 2%;
  margin: 0 auto;
  margin-top: 100px;
}

.accidentalsContainer button {
  width: 45px;
  background: #141301;
  border: 1px solid #EC9A29;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  top: -299px;
  position: relative;
  z-index: 1;
  border-top: none;
}

.accidentalsContainer button.C {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.accidentalsContainer button.D {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12 / span 3;
}

.accidentalsContainer button.F {
  -ms-grid-column: 26;
  -ms-grid-column-span: 2;
  grid-column: 26 / span 2;
}

.accidentalsContainer button.G {
  -ms-grid-column: 33;
  -ms-grid-column-span: 2;
  grid-column: 33 / span 2;
}

.accidentalsContainer button.A {
  -ms-grid-column: 38;
  -ms-grid-column-span: 1;
  grid-column: 38 / span 1;
}

.naturalsContainer {
  width: 458px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 200px;
  margin: 0 auto;
  outline: 15px solid #EC9A29;
}

.naturalsContainer button {
  background: #878E88;
  border: 1px solid #141301;
  border-radius: 0 0 6px 6px;
}

button {
  cursor: pointer;
}

button:active, button:focus {
  border: 0;
  outline: rgba(225, 225, 225, 0);
}

.naturalsContainer p {
  font-size: 1.75em;
  top: 100px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px rgba(0, 0, 0, 0.1);
  color: #1b1b1e;
}

.resetButton {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 25px;
  margin-right: 10px;
  margin-left: 5px;
  background-color: #A3320B;
  border: 2px solid #EC9A29;
}

.resetButton:active,
.resetButton:focus {
  background-color: #A3320B;
  border: 1px solid #EC9A29;
}

body {
  background-image: url(../assets/bladerunnerBackground.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

body h1 {
  text-align: center;
  color: #EC9A29;
  padding: 15px 0;
}

main {
  background-image: url(../assets/graphite.jpg);
  background-repeat: repeat;
}

.monitorAndMixer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
  background-image: url(../assets/graphite.jpg);
  background-repeat: repeat;
}

.checkboxContainer {
  background-image: url(.././assets/mixerBack.jpg);
  height: 402px;
  width: 301px;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: -6px;
  margin-left: 15px;
  padding-bottom: 0;
  outline: 15px solid black;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 11px;
  font-size: 20px;
  color: #EC9A29;
}

.checkbox > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url(../assets/dials.jpg);
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.checkbox > input:checked {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.monitorAndMixer {
  margin-bottom: -44px;
}

.wrapper {
  width: 75%;
}

.gifContainer {
  margin-top: -5px;
}

.wrapper {
  max-width: 1600px;
  width: 700px;
  margin: 0 auto;
}

.instructions {
  background-image: url(../assets/graphite.jpg);
  margin-top: 38px;
}

.instructions p {
  background-image: url(../assets/mixerBack.jpg);
  font-family: "Source Code Pro", monospace;
  border: 15px solid black;
  font-size: 18px;
  color: #EC9A29;
  width: 661px;
  margin: 0 auto;
}

.credits p {
  font-size: 14px;
  color: #EC9A29;
  text-align: center;
  background-image: url(../assets/graphite.jpg);
  width: 700px;
  margin: 0 auto;
  padding-bottom: 10px;
}

@media (max-width: 1300px) {
  body h1 {
    font-size: 4rem;
  }
  .checkbox {
    font-size: 16px;
    margin: 15px;
  }
}

@media (max-width: 1000px) {
  main {
    margin-top: -25px;
  }
  .checkbox {
    margin: 15px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 390px;
  }
  .monitorAndMixer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body h1 {
    margin-left: 20px;
    margin-bottom: 3px;
    margin-top: 10px;
    font-size: 3rem;
  }
  .gifContainer {
    margin: 0 auto;
    outline: 10px solid #EC9A29;
  }
  .checkboxContainer {
    margin: 0 auto;
    width: 372px;
    height: 310px;
    margin-top: 20px;
    outline: 10px solid black;
  }
  .checkbox {
    margin: 10px;
  }
  .naturalsContainer {
    width: 370px;
    height: 200px;
    margin-top: 6px;
    outline: 10px solid #EC9A29;
  }
  .keyboardContainer {
    height: 230px;
    padding-top: 5px;
  }
  .accidentalsContainer {
    width: 395px;
    height: 60%;
    margin-top: 100px;
  }
  .accidentalsContainer {
    width: 405px;
  }
  .accidentalsContainer button.C {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / span 2;
  }
  .accidentalsContainer button.D {
    -ms-grid-column: 13;
    -ms-grid-column-span: 3;
    grid-column: 13 / span 3;
  }
  .accidentalsContainer button.A {
    -ms-grid-column: 37;
    -ms-grid-column-span: 1;
    grid-column: 37 / span 1;
  }
  .accidentalsContainer button.G {
    -ms-grid-column: 32;
    -ms-grid-column-span: 2;
    grid-column: 32 / span 2;
  }
  .instructions p {
    border: 10px solid black;
    font-size: 16px;
    width: 390px;
  }
  .credits p {
    width: 390px;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 340px;
  }
  body h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
  }
  .checkbox {
    margin: 5px;
    font-size: 18px;
  }
  .checkbox > input {
    height: 30px;
    width: 30px;
  }
  .checkboxContainer {
    width: 320px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .baseMoods {
    padding-top: 5px;
  }
  .naturalsContainer {
    width: 320px;
  }
  .accidentalsContainer {
    width: 348px;
  }
  .accidentalsContainer button.G {
    -ms-grid-column: 33;
    -ms-grid-column-span: 2;
    grid-column: 33 / span 2;
  }
  .accidentalsContainer button.D {
    -ms-grid-column: 14;
    -ms-grid-column-span: 3;
    grid-column: 14 / span 3;
  }
  .accidentalsContainer button.C {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7 / span 2;
  }
  .accidentalsContainer button.A {
    -ms-grid-column: 38;
    -ms-grid-column-span: 1;
    grid-column: 38 / span 1;
  }
  .instructions p {
    width: 340px;
  }
  .credits p {
    width: 340px;
  }
}

@media (max-width: 349px) {
  .wrapper {
    width: 320px;
  }
  .gifContainer {
    outline: 5px solid #EC9A29;
  }
  .checkboxContainer {
    width: 310px;
    outline: 5px solid black;
  }
  .naturalsContainer {
    width: 310px;
    margin-top: 1px;
    outline: 5px solid #EC9A29;
  }
  .instructions p {
    border: 5px solid black;
    font-size: 14px;
    width: 320px;
  }
  .credits p {
    width: 320px;
  }
  .accidentalsContainer button.C {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / span 2;
  }
  .accidentalsContainer button.D {
    -ms-grid-column: 13;
    -ms-grid-column-span: 3;
    grid-column: 13 / span 3;
  }
  .accidentalsContainer button.G {
    -ms-grid-column: 31;
    -ms-grid-column-span: 2;
    grid-column: 31 / span 2;
  }
  .accidentalsContainer button.A {
    -ms-grid-column: 36;
    -ms-grid-column-span: 1;
    grid-column: 36 / span 1;
  }
  .accidentalsContainer button.F {
    -ms-grid-column: 24;
    -ms-grid-column-span: 2;
    grid-column: 24 / span 2;
  }
}
